<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<% let ahorro=movimientos.reduce((sum, value)=> (sum + value.number) , 0) %>

            <img class="ico" src="/assets/ico.png" alt="">
            <h4>¡Hola, <%= name %>!</h4>
            <h2>AHORRO: $ <%= ahorro %></h2>
            <p>Mi objetivo de ahorro: $</p>
            <div class="movimientos">
                <div class="cards">
                    <h4>Nuevo movimiento</h4>
                    <form action="/balance" method="POST">
                        <input type="date" name="date" id="date" placeholder="Fecha" required />
                        <input type="text" name="description" id="description" placeholder="Descripción" required />
                        <input type="number" name="number" id="number" placeholder="Importe" required />
                        <input type="hidden" name="userId" id="userId" value="<%= logueado ? userId : null %>" />
                        <input type="submit" value="GUARDAR">
                        <% if (error) { %>
                            <p style="color: gray;">
                                <%= error %>
                            </p>
                            <% } %>
                    </form>
                    <div class="recordar">Recordá cargar los egresos con signo negativo (-).</div>
                </div>
            </div>
            <h4>Movimientos</h4>
            <div id="tabla">
                <table>
                    <% if (movimientos.length===0) { %>
                        <p>Aquí verás tus movimientos</p>
                        <% } else { %>
                            <% movimientos.forEach(movimiento=> { %>
                                <thead>
                                    <tr class="movimiento">
                                        <th>
                                            <%= movimiento.date %>
                                        </th>
                                        <th>
                                            <%= movimiento.description %>
                                        </th>
                                        <th>
                                            <%= movimiento.number %>
                                        </th>
                                        <th class="botones">
                                            <a href="/editar/<%= movimiento._id %>"><img src="/assets/edit.png" alt=""></a>
                                            <a href="/eliminar/<%= movimiento._id %>"><img src="/assets/delete.png" alt=""></a>
                                        </th>
                                    </tr>
                                </thead>
                                <% }) %>
                                    <% } %>
                </table>
            </div>

<%- include('partials/footer.ejs') %>